server:
  port: 0

info:
  data: config05

spring:
  cloud:
    bus:
      enabled: true
      refresh:
        enabled: true
    stream:
      kafka:
        binder:
          defaultBrokerPort: 39092
          brokers: localhost

management:
  endpoints:
    web:
      exposure:
        include: busrefresh
